patches/ @huhi/patch-reviewers
chromium_src/ @huhi/patch-reviewers
script/build-bisect.py @bsclifton
script/uplift.py @bsclifton
vendor/huhi-ios/ @kylehickinson
/README.md @bsclifton
Jenkinsfile @mihaiplesa

# Rewards
browser/huhi_rewards/ @huhi/rewards
browser/extensions/api/huhi_rewards_api.cc @huhi/rewards
browser/extensions/api/huhi_rewards_api.h @huhi/rewards
browser/ui/webui/huhi_rewards_page_ui.cc @huhi/rewards
browser/ui/webui/huhi_rewards_page_ui.h @huhi/rewards
browser/ui/webui/huhi_rewards_ui.cc @huhi/rewards
browser/ui/webui/huhi_rewards_ui.h @huhi/rewards
components/huhi_rewards/ @huhi/rewards
components/services/bat_ledger/ @huhi/rewards
vendor/bat-native-ledger/ @huhi/rewards

# Ads
vendor/bat-native-ads/ @tmancey
components/huhi_ads/ @tmancey
components/services/bat_ads/ @tmancey

# Network
browser/net/ @iefremov

# Huhi theme
browser/themes @simonhong

# Widevine
browser/widevine @simonhong

# Wayback machine
browser/ui/views/infobars/huhi_wayback_machine_* @simonhong
components/huhi_wayback_machine @simonhong

# Licensing of third-party components
common/licenses/ @fmarier
script/huhi_license_helper.py @fmarier
script/check_npm_licenses.py @fmarier
script/generate_licenses.py @fmarier

# Crypto Wallets
browser/huhi_wallet/ @huhi/crypto-wallets
components/huhi_wallet/ @huhi/crypto-wallets

# Huhi Referrals Service
components/huhi_referrals/browser/huhi_referrals_service* @simonhong

# Huhi Sync
components/huhi_sync/ @huhi/sync-reviewers
components/sync/driver/ @huhi/sync-reviewers
chromium_src/components/sync/ @huhi/sync-reviewers
chromium_src/components/sync_device_info/device_info_sync_bridge.cc @huhi/sync-reviewers

# Speedreader
browser/speedreader/ @iefremov
components/speedreader/ @iefremov

# P3A
browser/p3a/ @iefremov
components/huhi_prochlo/ @iefremov
components/p3a/ @iefremov
components/weekly_storage/ @iefremov

# Perf predictor
components/huhi_perf_predictor/ @iefremov
